{% extends 'main.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="">
    <script src=""></script>
    {% block app_extra_head %}{% endblock %}
{% endblock %}

{% block content %}
<header>
    <nav>
        <div class="logo">
            <a href="#" style="font-weight: bold; color: #333; font-size: 1.25rem;">UniShare</a>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'utilisateurs:home' %}">Home</a></li>
            <li><a href="#">Modules</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="#">Mon Compte</a></li>
        </ul>
    </nav>
</header>

<main>
    {% block app_content %}{% endblock %}
</main>

<footer>
    <p>&copy; 2026 UniShare. All rights reserved.</p>
</footer>
{% endblock %}
