!requirement.txt
Postgresql.session.sql
.env
venv/
env/
.venv/
.vscode
plan.png
__pycache__/
migrations/
db.sqlite3
db.sqlite3-journal
junk
*.log
*.kate-swp
*.bkp
.DS_Store
Thumbs.db

mySpace/

# Pour l'instant ignorons les suppléments
install.*
