!requirement.txt

# Environnements virtuels et dépendances
**/venv/
**/env/
**/.venv/
**/.env

# Python cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
db.sqlite3-journal
**/migrations/*.pyc
**/migrations/__pycache__

# Fichiers système et IDE
.vscode/
*.code-workspace
.DS_Store
Thumbs.db
*.log
*.kate-swp
*.bkp

# Médias (Tes uploads utilisateurs)
media/

# Fichiers personnels ou spécifiques au projet
Postgresql.session.sql
junk
install.*
mySpace/
**/ressources/*
