{% extends "main.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block title %}Affectations{% endblock %}

{% block content %}

<div class="container">
            <p class="breadcrumb-nav">
        <a href="{% url 'administrateur:admin_dashboard' %}"><i class="bi bi-house-fill"></i> Dashboard</a>
        &rsaquo; Affectations


    <h2>Liste des Affectations</h2>

    <div class="actions-top">
        <a class="btn-ajouter"
           href="{% url 'administrateur:admin_affectation_ajouter' %}">
            Affecter une classe à un professeur
        </a>
    </div>

    <table>
        <thead>
            <tr>
                <th>Professeur</th>
                <th>Classe</th>
                <th>Responsable</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for a in affectations %}
            <tr>
                <td>
                    {{ a.enseignant.utilisateur.prenom }}
                    {{ a.enseignant.utilisateur.nom }}
                </td>

                <td>
                    {{ a.classe.nom }}
                </td>

                <td>
                    {% if a.est_responsable %}
                        Oui
                    {% else %}
                        Non
                    {% endif %}
                </td>

                <td>
                    <a class="btn-supprimer"
                       href="{% url 'administrateur:admin_affectation_supprimer' a.pk %}"
                       onclick="return confirm('Voulez-vous vraiment supprimer cette affectation ?');">
                        Supprimer
                    </a>
                </td>
            </tr>

            {% empty %}
            <tr>
                <td colspan="4">
                    Aucune affectation enregistrée.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}