{% extends "main.html" %}
{% load static %}

{% block title %}Gérer les Comptes{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
   



<div class="container">

    <p class="breadcrumb-nav">
        <a href="{% url 'administrateur:admin_dashboard' %}"><i class="bi bi-house-fill"></i> Dashboard</a>
        &rsaquo; comptes
    </p>
 

    
    <h2>Gestion des Comptes</h2>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Email</th>
                <th>Date création</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for compte in comptes %}
            <tr>

                <td>{{ forloop.counter }}</td>

                <td>{{ compte.email }}</td>

                <td>
                    {{ compte.date_joined|date:"d/m/Y" }}
                </td>

                <td>
                    {% if compte.is_active %}
                        Actif
                    {% else %}
                        Inactif
                    {% endif %}
                </td>

                <td>

                    <a class="btn-activer"
                       href="{% url 'administrateur:admin_compte_activer' compte.pk %}">
                        {% if compte.is_active %}
                            Désactiver
                        {% else %}
                            Activer
                        {% endif %}
                    </a>

                    <a class="btn-supprimer"
                       href="{% url 'administrateur:admin_compte_supprimer' compte.pk %}"
                       onclick="return confirm('Supprimer ce compte ?');">
                        Supprimer
                    </a>

                </td>

            </tr>

            {% empty %}
            <tr>
                <td colspan="5">
                    Aucun compte enregistré.
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>

{% endblock %}