{% extends 'main.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="">
    <script src=""></script>
{% endblock %}

{% block content %}
<header>
    <nav>
        <div class="logo">
            <a href="#" style="font-weight: bold; color: #333; font-size: 1.25rem;">UniShare - Admin</a>
        </div>
        <ul class="nav-links">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Déconnexion</a></li>
        </ul>
    </nav>
</header>

<div class="admin-container">
    <main>
        {% block admin_content %}{% endblock %}
    </main>
</div>

<footer>
    <p>&copy; 2026 UniShare. Panel Administration.</p>
</footer>
{% endblock %}
