{% extends 'app/layout_user.html' %}

{% block app_content %}
<div class="p-4 bg-white rounded shadow-sm">
    <h3 class="mb-4">Historique des activités</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>NCE Étudiant</th>
                <th>Action</th>
                <th>Ressource</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for h in historiques %}
            <tr class="{% if h.ressource and h.ressource.module.id in modules_intervenant %}table-primary{% endif %}">
                <td>{{ h.etudiant.NCE }}</td>
                <td>
                    <span class="badge {% if h.action == 'telechargement' %}bg-success{% else %}bg-info{% endif %}">
                        {{ h.get_action_display }}
                    </span>
                </td>
                <td>{{ h.ressource.titre|default:"Consultation globale" }}</td>
                <td>{{ h.date_datetime|date:"d/m/Y H:i" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">Aucune activité enregistrée.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
